*/__pycache__/*
data/magpie/nl/*
data/magpie/de/*
data/magpie/sv/*
data/magpie/da/*
data/magpie/fr/*
data/magpie/it/*
data/magpie/es/*
attention/data/*
amnesic_probing/data/*/attention*
amnesic_probing/projection_matrices/*
hidden_states/data/*